body{
    font-family: "open sans";
    background: radial-gradient(at top, rgb(231, 235, 252), rgb(24, 58, 250));
    background-attachment: fixed 
  
}
#header img {
    width: 200px;
}
header{
    width: 100%;
    height: 600px;
    background: #bc4e60;
    background: -webkit-linear-gradient(to right, hsla(24, 88%, 61%, 0.459), hsla(234, 90%, 60%, 0.589)), url(imagenes/complicaciones.png); 
    background: linear-gradient(to right,hsla(293, 61%, 74%, 0.459), hsla(236, 84%, 50%, 0.664)), url(imagenes/complicaciones.png);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    padding:  30px 50px 0 0;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
header .textos-header{
    display: flex;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    font-size: 65px;
    color: rgb(255, 255, 255);
}
.nav{
    height: 35px;
    width: 98%;
    background: #799af5;
    color: rgb(250, 249, 249);
    box-sizing: content-box; 
}
.nav{
    font-family: "open sans";
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border:1px solid #8385fcc9;
    border-radius: 10px;
}
.container{
    width: 90%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    padding: 10px 0; 
}
p{
    background: radial-gradient(at top, rgb(255, 254, 255), rgb(42, 73, 228));
    background-attachment: fixed;  
    text-align: justify;
    border-radius: 5%;
    width: 370px;
    max-width: 400px;
    padding: 20px;
    
}
h1{
    text-align: center;
    color: rgb(10, 6, 243);
    font-size: 65px;
    font-weight: 600;
}
h3{
    text-align: center;
    color: rgb(248, 248, 250);
    font-size: 40px;
    font-weight: 600;
}
h2{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}
a{
    color: white;
}
img{
    border-radius: 10%;
}

footer{
    background: #727270;
}

